<div class="search-engine">
  <h4>Search engine</h4>
  <div class="search-engine-title">{{ title }}</div>
  <div class="search-engine-link">{{ link }} <span class="search-engine-link-arrow"></span></div>
  <div class="search-engine-description">{{ description }}</div>
</div>
