<h4>LinkedIn</h4>
<div class="linkedin">
  <div class="linkedin-image" style="background-image:url({{ image }})"></div>
  <div class="linkedin-title">{{ title }}</div>
  <div class="linkedin-link">{{ link }}</div>
</div>
